{% extends 'shop/index.html' %}
{%load static%}



<body>
    {% block content %}
    <main>
        <!--? Hero Area Start-->
        
            
                        <img src= "{%static './shop/assets/img/Contact.jpg' %}" style="width: 100%;">
                        
                        
        
        <!--? Hero Area End-->
        <!-- ================ contact section start ================= -->
        <section class="contact-section">
            <div class="container">
                

                <form action= "/shop/contact/" method="POST"> {% csrf_token %}

                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">Get in Touch</h2>
                    </div>
                    <div class="col-lg-8">
                        
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group"><label for="message"><b>Message</b></label>
                                        <textarea class="form-control w-100"  name="message"  id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder=" Enter Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group"><label for="name"><b>Name</b></label>
                                        <input class="form-control valid"  name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group"><label for="email"><b>Email</b></label>
                                        <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group"><label for="desc"><b>Subject</b></label>
                                        <input class="form-control" name="desc" id="desc" rows="3" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group"><label for="phone"><b>Phone</b></label>
                                        <input class="form-control" name="phone" id="phone" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your phone number'" placeholder="Enter your phone number">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="button button-contactForm boxed-btn">Send</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3>Ghaziabad, India</h3>
                                <p>AKGEC</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>98932893253</h3>
                                <p>Mon to Fri 9am to 6pm</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3>ayushigoyal2840@gmail.com</h3>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </section>
        <!-- ================ contact section end ================= -->
    </main>
    
    <script>
        console.log('working');
        if(localStorage.getItem('cart')==null){
        var cart = {};
        }
        else
        {
        cart = JSON.parse(localStorage.getItem('cart'));
        document.getElementById('cart').innerHTML=Object.keys(cart).length;
        }
        $('.cart').click(function(){
        console.log('clicked');
        var idstr = this.id.toString();
        console.log(idstr);
        if (cart[idstr]!=undefined){
        cart[idstr]=cart[idstr]+1;
        }
        else
        {
        cart[idstr]=1;
        }
        console.log(cart);
        localStorage.setItem('cart',JSON.stringify(cart));
        document.getElementById('cart').innerHTML=Object.keys(cart).length;
        
        
        });
        document.getElementById('popcart').setAttribute('data-content', '<h5>cart</h5>');
        </script> 
        
</body>

{% endblock %}