{%load static%}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <style>
        button.btn.btn-primary {
    width: 100%;

}


.popular-items .single-popular-items .popular-img .img-cap span {
    
    padding: 0px 0;
   
}
img.heartbeat {
    margin-left: -100px;
}

    </style>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{%static './shop/assets/img/favicon.ico'%}">

    <!-- CSS here -->
        <link rel="stylesheet" href="{%static './shop/assets/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{%static './shop/assets/css/owl.carousel.min.css'%}">
        <link rel="stylesheet" href="{%static './shop/assets/css/flaticon.css'%}">
        <link rel="stylesheet" href="{%static './shop/assets/css/slicknav.css'%}">
        <link rel="stylesheet" href="{%static './shop/assets/css/animate.min.css'%}">
        <link rel="stylesheet" href="{%static './shop/assets/css/magnific-popup.css'%}">
        <link rel="stylesheet" href="{%static './shop/assets/css/fontawesome-all.min.css'%}">
        <link rel="stylesheet" href="{%static './shop/assets/css/themify-icons.css'%}">
        <link rel="stylesheet" href="{%static './shop/assets/css/slick.css'%}">
        <link rel="stylesheet" href="{%static './shop/assets/css/nice-select.css'%}">
        <link rel="stylesheet" href="{%static './shop/assets/css/style.css'%}">
</head>

<header>
  <!-- Header Start -->
  <div class="header-area">
      <div class="main-header header-sticky">
          <div class="container-fluid">
              <div class="menu-wrapper">
                  <!-- Logo -->
                  <div class="logo">
                      <a href="/shop/basic"><img src="{%static './shop/assets/img/logo/circle-cropped.png'%}" alt=""></a>
                  </div>
                  <!-- Main-menu -->
                  <div class="main-menu d-none d-lg-block">
                      <nav>                                                
                          <ul id="navigation">  
                              <li><a href="#">Home</a></li>
                              <li><a href="/shop/basic">shop</a></li>
                              <li><a href="/shop/about">about</a></li>
                              <li class="hot"><a href="#">Latest</a>
                                  <ul class="submenu">
                                      <li><a href="/shop/shop"> Product list</a></li>
                                      <li><a href="/shop/product_details"> Product Details</a></li>
                                  </ul>
                              </li>
                              <li><a href="/shop/blog">Blog</a>
                                  <ul class="submenu">
                                      <li><a href="/shop/blog">Blog</a></li>
                                      <li><a href="/shop/blog-details.htm">Blog Details</a></li>
                                  </ul>
                              </li>
                              <li><a href="#">Pages</a>
                                  <ul class="submenu">
                                      <li><a href="/shop/login">Login</a></li>
                                      <li><a href="/shop/cart">Cart</a></li>
                                      
                                      <li><a href="/shop/confirmation">Confirmation</a></li>
                                      <li><a href="/shop/checkout">Product Checkout</a></li>
                                  </ul>
                              </li>
                              <li><a href="/shop/contact">Contact</a></li>
                          </ul>
                      </nav>
                  </div>
                  <!-- Header Right -->
                  
                  <div class="header-right">
                    <ul>
                            <li><a href="/shop/cart"><span class="flaticon-shopping-cart"> ({{request.session.cart.keys|length}})</span></a> </li>
<!--                        <li><a href="/shop/cart"><span>cart</span></a> </li>-->
                        {% if request.session.customer%}

                        
                        
                        <li> <a href="/shop/logout"><span  style="margin-right: 0px; font-weight: 600;">Logout</span></a></li>
                        <li><a href="/shop/orders"><span>Orders</span></a> </li>
                        
                        
                        {% else %}

                        <li> <a href="/shop/login"><span style="margin-right: 0px;font-weight: 600;">Login</span></a></li>
                        
                        {% endif %}
                        <li>
                            <div class="nav-search search-switch">
                                <span class="flaticon-search"></span>
                            </div>
                          </li>
                    </ul>
                  </div>
              </div>
              <!-- Mobile Menu -->
              <div class="col-12">
                  <div class="mobile_menu d-block d-lg-none"></div>
              </div>
          </div>
      </div>
  </div>
  <!-- Header End -->
</header>
{% block content%}
<main>
  <!--? slider Area Start -->
  <div class="slider-area ">
      <div class="slider-active">
          <!-- Single Slider -->
          <div class="single-slider slider-height d-flex align-items-center slide-bg">
              <div class="container">
                  <div class="row justify-content-between align-items-center">
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                          <div class="hero__caption">
                              <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms"> Creation. Community. Action.</h1>
                              <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">Another tomorrow pushes the boundaaries of what responsibly grown, and ethically manufactured materials can achieve.</p>
                              <!-- Hero-btn -->
                              <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                  <a href="/shop/basic" class="btn hero-btn">Shop Now</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                          <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                              <img src="{%static './shop/assets/img/hero/hero_man.png'%}" alt="" class=" heartbeat">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Single Slider -->
          <div class="single-slider slider-height d-flex align-items-center slide-bg">
              <div class="container">
                  <div class="row justify-content-between align-items-center">
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                          <div class="hero__caption">
                              <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Select Your New Perfect Style</h1>
                              <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat is aute irure.</p>
                              <!-- Hero-btn -->
                              <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                  <a href="industries.html" class="btn hero-btn">Shop Now</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                          <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                              <img src="{%static './shop/assets/img/hero/hero_man.png'%}" alt="" class=" heartbeat">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- slider Area End-->
  <!-- ? New Product Start -->
  <section class="new-product-area section-padding30">
      <div class="container">
          <!-- Section tittle -->
          <div class="row">
              <div class="col-xl-12">
                  <div class="section-tittle mb-70">
                      <h2>New Arrivals</h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                  <div class="single-new-pro mb-30 text-center">
                      <div class="product-img">
                          <img src="{%static './shop/assets/img/gallery/man-large.jpg'%}" alt="">
                      </div>
                      <div class="product-caption">
                          <h3><a href="/shop/product_details">YOONIKK Mens Bomber Jacket</a></h3>
                          <span>₹ 2,199</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                  <div class="single-new-pro mb-30 text-center">
                      <div class="product-img">
                          <img src="{%static './shop/assets/img/gallery/women-large.jpg'%}" alt="">
                      </div>
                      <div class="product-caption">
                          <h3><a href="/shop/product_details">Women's Printed Shirt Kurta with Pants</a></h3>
                          <span> ₹ 7,500</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                  <div class="single-new-pro mb-30 text-center">
                      <div class="product-img">
                          <img src="{%static './shop/assets/img/gallery/insta-4.jpg'%}" alt="">
                      </div>
                      <div class="product-caption">
                          <h3><a href="/shop/product_details">Tape Tee & Leggings Pants Set for Womens (LEG62)</a></h3>
                          <span>₹ 45,743</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--  New Product End -->
  <!--? Gallery Area Start -->
  <div class="gallery-area">
      <div class="container-fluid p-0 fix">
          <div class="row">
              <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                  <div class="single-gallery mb-30">
                      <div class="gallery-img big-img" style="background-image: url({% static './shop/assets/img/gallery/gallery1.png'%});"></div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                  <div class="single-gallery mb-30">
                      <div class="gallery-img big-img" style="background-image: url({% static './shop/assets/img/gallery/gallery2.png'%});"></div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-12">
                  <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6">
                          <div class="single-gallery mb-30">
                              <div class="gallery-img small-img" style="background-image: url({% static './shop/assets/img/gallery/gallery3.png'%});"></div>
                          </div>
                      </div>
                      <div class="col-xl-12 col-lg-12  col-md-6 col-sm-6">
                          <div class="single-gallery mb-30">
                              <div class="gallery-img small-img" style="background-image: url({% static './shop/assets/img/gallery/gallery4.png'%});"></div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <!-- Gallery Area End -->
  <!--? Popular Items Start -->
  <div class="popular-items section-padding30">
      <div class="container">
          <!-- Section tittle -->
          <div class="row justify-content-center">
              <div class="col-xl-7 col-lg-8 col-md-10">
                  <div class="section-tittle mb-70 text-center">
                      <h2>Popular Items</h2>
                      <p>Price and other details may vary based on size and colour.</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                  <div class="single-popular-items mb-50 text-center">
                      <div class="popular-img">
                          <img src="{%static './shop/assets/img/gallery/product-1.jpg'%}" alt="">
                          <div class="img-cap">
                            <a href="/shop/basic"> <span> Buy </span> </a>
                          </div>
                          <div class="favorit-items">
                              <span class="flaticon-heart"></span>
                          </div>
                      </div>
                      <div class="popular-caption">
                          <h3><a href="/shop/product_details">Women's Scout Lightweight Nylon Bomber Jacke</a></h3>
                          <span>₹ 4,569</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                  <div class="single-popular-items mb-50 text-center">
                      <div class="popular-img">
                          <img src="{%static './shop/assets/img/gallery/banner-3.jpg'%}" alt="">
                          <div class="img-cap">
                            <a href="/shop/basic"> <span> Buy </span> </a>
                          </div>
                          <div class="favorit-items">
                              <span class="flaticon-heart"></span>
                          </div>
                      </div>
                      <div class="popular-caption">
                          <h3><a href="/shop/product_details">Toddler Print Cartoon V-Neck Sweater</a></h3>
                          <span>₹ 2,020</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                  <div class="single-popular-items mb-50 text-center">
                      <div class="popular-img">
                          <img src="{%static './shop/assets/img/gallery/banner-2.jpg'%}" alt="">
                          <div class="img-cap">
                            <a href="/shop/basic"> <span> Buy </span> </a>
                          </div>
                          <div class="favorit-items">
                              <span class="flaticon-heart"></span>
                          </div>
                      </div>
                      <div class="popular-caption">
                          <h3><a href="/shop/product_details">Women's Viscose High-Neck Ribbed Off-White Sweater</a></h3>
                          <span>₹ 666</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                  <div class="single-popular-items mb-50 text-center">
                      <div class="popular-img">
                          <img src="{%static './shop/assets/img/gallery/hero-2.jpg'%}" alt="">
                          <div class="img-cap">
                            <a href="/shop/basic"> <span> Buy </span> </a>
                          </div>
                          <div class="favorit-items">
                              <span class="flaticon-heart"></span>
                          </div>
                      </div>
                      <div class="popular-caption">
                          <h3><a href="product_details.html">Pepe Jeans Boys' Jacket</a></h3>
                          <span>₹ 1,259</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                  <div class="single-popular-items mb-50 text-center">
                      <div class="popular-img">
                          <img src="{%static './shop/assets/img/gallery/insta-3.jpg'%}" alt="">
                          <div class="img-cap">
                            <a href="/shop/shop"> <span> Buy </span> </a>
                          </div>
                          <div class="favorit-items">
                              <span class="flaticon-heart"></span>
                          </div>
                      </div>
                      <div class="popular-caption">
                          <h3><a href="product_details.html">Woolen Sweater for Women Lt Pink</a></h3>
                          <span>₹ 500</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                  <div class="single-popular-items mb-50 text-center">
                      <div class="popular-img">
                          <img src="{%static './shop/assets/img/gallery/insta-5.jpg'%}" alt="">
                          <div class="img-cap">
                            <a href="/shop/basic"> <span> Buy </span> </a>
                          </div>
                          <div class="favorit-items">
                              <span class="flaticon-heart"></span>
                          </div>
                      </div>
                      <div class="popular-caption">
                          <h3><a href="product_details.html">Allen Solly Men's Plain Regular fit T-Shirt</a></h3>
                          <span>₹ 1,590</span>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Button -->
          <div class="row justify-content-center">
              <div class="room-btn pt-70">
                  <a href="catagori.html" class="btn view-btn1">View More Products</a>
              </div>
          </div>
      </div>
  </div>
  <!-- Popular Items End -->
  <!--? Video Area Start -->
  
  <!-- Video Area End -->
  <!--? Watch Choice  Start-->
  <div class="watch-area section-padding30">
      <div class="container">
          <div class="row align-items-center justify-content-between padding-130">
              <div class="col-lg-5 col-md-6">
                  <div class="watch-details mb-40">
                      <h2>Outfit of Choice</h2>
                      <p><h3>Under ₹1199 | Pocket-friendly Men's Fashion.</h3></p>
                      <a href="/shop/basic" class="btn">SHOP</a>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-10">
                  <div class="choice-watch-img mb-40">
                      <img src="{%static './shop/assets/img/gallery/uu.jpg'%}" alt="">
                  </div>
              </div>
          </div>
          <div class="row align-items-center justify-content-between">
              <div class="col-lg-6 col-md-6 col-sm-10">
                  <div class="choice-watch-img mb-40">
                      <img src="{%static './shop/assets/img/gallery/h.jpg'%}" alt="">
                  </div>
              </div>
              <div class="col-lg-5 col-md-6">
                  <div class="watch-details mb-40">
                      <h2>Outfit of Choice</h2>
                      <p><h3>Under ₹1199 | Pocket-friendly Women's Fashion.</h3></p>
                      <a href="/shop/basic" class="btn">SHOP</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Watch Choice  End-->
  <!--? Shop Method Start-->
  <div class="shop-method-area">
      <div class="container">
          <div class="method-wrapper">
              <div class="row d-flex justify-content-between">
                  <div class="col-xl-4 col-lg-4 col-md-6">
                      <div class="single-method mb-40">
                          <i class="ti-package"></i>
                          <h6>Free Shipping Method</h6>
                          <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6">
                      <div class="single-method mb-40">
                          <i class="ti-unlock"></i>
                          <h6>Secure Payment System</h6>
                          <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                      </div>
                  </div> 
                  <div class="col-xl-4 col-lg-4 col-md-6">
                      <div class="single-method mb-40">
                          <i class="ti-reload"></i>
                          <h6>Secure Payment System</h6>
                          <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Shop Method End-->
</main>
{% endblock %}
<footer>
  <!-- Footer Start-->
  <div class="footer-area footer-padding">
      <div class="container">
          <div class="row d-flex justify-content-between">
              <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                  <div class="single-footer-caption mb-50">
                      <div class="single-footer-caption mb-30">
                          <!-- logo -->
                          <div class="footer-logo">
                              <a href="/shop/index"><img src="{%static './shop/assets/img/logo/circle-cropped.png'%}" alt=""></a>
                          </div>
                          <div class="footer-tittle">
                              <div class="footer-pera">
                                  <p>Exclusive shop. INdia</p>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                  <div class="single-footer-caption mb-50">
                      <div class="footer-tittle">
                          <h4>Quick Links</h4>
                          <ul>
                              <li><a href="/shop/about">About</a></li>
                              <li><a href="#"> Offers & Discounts</a></li>
                              <li><a href="#"> Get Coupon</a></li>
                              <li><a href="/shop/contact">  Contact Us</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                  <div class="single-footer-caption mb-50">
                      <div class="footer-tittle">
                          <h4>New Products</h4>
                          <ul>
                              <li><a href="/shop/basic">Woman Cloth</a></li>
                              <li><a href="/shop/basic">Fashion Accessories</a></li>
                              <li><a href="/shop/basic"> Man Cloth</a></li>
                              <li><a href="/shop/basic"> Watches</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                  <div class="single-footer-caption mb-50">
                      <div class="footer-tittle">
                          <h4>Support</h4>
                          <ul>
                              <li><a href="#">Frequently Asked Questions</a></li>
                              <li><a href="#">Terms & Conditions</a></li>
                              <li><a href="#">Privacy Policy</a></li>
                              <li><a href="#">Report a Payment Issue</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Footer bottom -->
          <div class="row align-items-center">
              <div class="col-xl-7 col-lg-8 col-md-7">
                  
              </div>
              <div class="col-xl-5 col-lg-4 col-md-5">
                  <div class="footer-copy-right f-right">
                      <!-- social -->
                      <div class="footer-social">
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-behance"></i></a>
                          <a href="#"><i class="fas fa-globe"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Footer End-->
</footer>
<!--? Search model Begin -->
<div class="search-model-box">
  <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-btn">+</div>
      <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Searching key.....">
      </form>
  </div>
</div>
<!-- Search model end -->

<!-- JS here -->

<script src="{% static './shop/assets/js/vendor/modernizr-3.5.0.min.js'%}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static './shop/assets/js/vendor/jquery-1.12.4.min.js'%}"></script>
<script src="{% static './shop/assets/js/popper.min.js'%}"></script>
<script src="{% static './shop/assets/js/bootstrap.min.js'%}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static './shop/assets/js/jquery.slicknav.min.js'%}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static './shop/assets/js/owl.carousel.min.js'%}"></script>
<script src="{% static './shop/assets/js/slick.min.js'%}"></script>

<!-- One Page, Animated-HeadLin -->
<script src="{% static './shop/assets/js/wow.min.js'%}"></script>
<script src="{% static './shop/assets/js/animated.headline.js'%}./"></script>
<script src="{% static './shop/assets/js/jquery.magnific-popup.js'%}./"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="{% static './shop/assets/js/jquery.scrollUp.min.js'%}./"></script>
<script src="{% static './shop/assets/js/jquery.nice-select.min.js'%}./"></script>
<script src="{% static './shop/assets/js/jquery.sticky.js'%}./"></script>

<!-- contact js -->
<script src="{% static './shop/assets/js/contact.js'%}"></script>
<script src="{% static './shop/assets/js/jquery.form.js'%}"></script>
<script src="{% static './shop/assets/js/jquery.validate.min.js'%}"></script>
<script src="{% static './shop/assets/js/mail-script.js'%}"></script>
<script src="{% static './shop/assets/js/jquery.ajaxchimp.min.js'%}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static './shop/assets/js/plugins.js'%}"></script>
<script src="{% static './shop/assets/js/main.js'%}"></script>
<script>

    console.log("working");
if(localStorage.getItem('cart')==null)
{
var_cart={};
}
else
{
    cart=JSON.parse(localStorage.getItem('cart'));
}
$('.cart').click(function(){
    console.log('clicked');
});
</script>
</body>
</html>